.taskList {
	background-color: rgba(245, 245, 220, 0.303);
	padding: 1em;
	ul {
		overflow-y: auto;
		width: 380px;
		height: 300px;
		padding-bottom: 1em;
		flex-wrap: wrap;
		li {
			display: flex;
			justify-content: space-between;
			border-bottom: 1px solid gray;
			gap: 1em;
			align-items: center;
			padding: 5px;
			u {
				text-decoration: line-through;
				opacity: 0.6;
			}
			button {
				font-size: 0.6em;
			}
		}
	}
}
