.taskList {
	background-color: rgba(245, 245, 220, 0.303);
	padding: 1em;
	border-radius: 10px;
	ul {
		overflow-y: auto;
		width: 600px;
		height: 300px;
		padding-bottom: 1em;
		li {
			display: flex;
			border-bottom: 1px solid gray;
			gap: 1em;
			align-items: center;
			padding: 5px;
			height: 30px;
			input[type='checkbox'] {
				cursor: pointer;
				font-size: 1.5em;
				margin-top: 9px;
			}
			u {
				text-decoration: line-through;
				opacity: 0.6;
			}
			p,
			u {
				display: flex;
				width: 100%;
				justify-content: space-between;
			}
			svg {
				cursor: pointer;
				color: rgb(249, 66, 66);
			}
		}
	}
}

@media (max-width: 600px) {
	.taskList ul {
		width: 345px;
		height: auto;
		li {
			width: 100%;
			word-break: break-word;
			p,
			u {
				gap: 1em;
				text-align: center;
			}
		}
	}
}
